<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Inicial de Proyecto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blue-cards.css') }}">
    
</head>
<body>
    <div class="container">
        <div class="row col-1">
            <a href="/funciones" class="border-0 bg-transparent">
                <img src="{{ url_for('static', filename='img/back-icon.png') }}" alt="Volver" style="width: 30px; height: 30px;">
            </a>
        </div>
        &nbsp;

        <h1 class="mb-3"><i class="fas fa-lightbulb me-2"></i>Empatizar con usuarios e identificar oportunidades</h1>
        <p class="subtitle">Investigación de usuarios y necesidades del mercado</p>
        
        <!-- Formulario principal -->
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0"><i class="fas fa-users me-2"></i>Investigación de Usuarios</h3>
            </div>
            <div class="card-body">
                <form action="/funciones/Fase1/formularios/empatizar/guardar" method="POST">
                    <div class="mb-4">
                        <label for="empatizar1" class="form-label">Realice entrevistas a 10 posible usuarios y consumidores e identifique cuales son los gustos preferencias, cuáles son sus dolores, frustraciones, que los hace feliz (escriba aquí los principales hallazgos):</label>
                        <textarea class="form-control" id="empatizar1" name="empatizar1" required>{{project.empatizar1}}</textarea>
                    </div>

                    <div class="mb-4">
                        <label for="empatizar2" class="form-label">Visite lugares donde se encuentren los posible usuarios o consumidores, observe y registre todo lo que ve: actividades, entorno, interacciones objetos, usuarios (escriba aquí los principales hallazgos) esto le permitirá abrir la mente para la posible solución o nuevo alimento.</label>
                        <textarea class="form-control" id="empatizar2" name="empatizar2" required>{{project.empatizar2}}</textarea>
                    </div>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-2"></i> Guardar información
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>